*.python linguist-detectable=true
*.ipynb linguist-detectable=false
*.js linguist-detectable=false
*.java linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.js linguist-detectable=true
*.java linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
